/* Import Bootstrap CSS */
@import 'bootstrap/dist/css/bootstrap.min.css';

/* Your custom overrides */
[data-bs-theme=dark] {
  --bs-body-bg: #1c1f22; /* Change the body background color */
  --bs-primary-text-emphasis: #6ea8fe; /* Change the primary text emphasis color */
  --bs-link-color: #e5e5e5; /* Change the link color */
  --bs-link-hover-color: #bbbbbb; /* Change the link hover color */
  --bs-body-color: #ffffff;
}

.btn-primary {
    --bs-btn-color: #343a40;
    --bs-btn-bg: #e5e5e5;
    --bs-btn-border-color: #e5e5e5;
    --bs-btn-hover-color: #212529;
    --bs-btn-hover-bg: #bbbbbb;
    --bs-btn-hover-border-color: #bbbbbb;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #f5f5f5;
    --bs-btn-active-bg: #484848;
    --bs-btn-active-border-color: #484848;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #484848;
    --bs-btn-disabled-border-color: #484848;
  }
  
.form-control{
    border: none;
    background-color: #343a40;
    padding: 25px;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #cdcdcd;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(185, 185, 185, 0.285);
  }

#starfield {
  z-index: -1 !important
}

#hoverCard:hover{
  transform: scale(1.06);
}

#hoverCard {
  transition: all 0.4s;
}

.backdrop {
  --bs-backdrop-bg: #000;
  --bs-backdrop-opacity: 0.3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0);
}

#sideBarCard:hover {
  background-color: #8181812c;
}

#sideBarCard:active {
  background-color: #a1a1a165;
}

#sideBarCollapse:hover {
  background-color: #8181812c;
}

#taskCard:hover {

}

.nav-underline{
  position: relative;
}

.nav-underline:after {
  content: '';
  height: 2px;
  width: 100%;
  background: #6ea8fe;
  position: absolute;
  left: 0;
  bottom: -6px;
  opacity: 0;
}

.nav-underline:hover:after {
  opacity: 1;
}

